fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

legend {
    width: auto;
    padding: 0 10px;
    font-size: 1.2em;
}

form .btn {
    margin-top: 10px;
}

.form-check-inline {
    margin-right: 20px;
}
.create{
    background-color:lightgray;
}
.fields{
    width: 300px;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    display: flex;
    gap:3rem;
    color:white;
    
}